.menu {
  position: fixed;
  width: 20rem;
  display: flex;
  flex-direction: column;
  left: 20%;
  top: 40%;
}

.sub-container {
  width: 300px;
  position: fixed;
  top: 25%;
  right: 10%;
}

.icon-title-container {
  display: flex;
  gap: 1rem;
}

.icon {
  width: 60px;
}
