.menu {
  position: fixed;
  width: 20rem;
  display: flex;
  flex-direction: column;
  left: 20%;
  top: 40%;
  z-index: 3;
}

.sub-container {
  width: 300px;
  position: fixed;
  top: 30%;
  right: 10%;
  z-index: 3;
}

.p-container p {
  letter-spacing: 1px;
  line-height: 1.5rem;
}

.icon-title-container {
  display: flex;
  gap: 1rem;
}

.icon-title-container > h3 {
  letter-spacing: 4px;
  font-size: 1.3rem;
}

.icon {
  width: 60px;
}


.title {
  transition: all 350ms ease-in-out;
  letter-spacing: 1px;
}

.title:hover {
  cursor: pointer;
}

.active-subheading {
  cursor: default;
}

.item {
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem 0;
  transition: all 350ms ease-in;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.item:hover {
  transform: scale(1.2);
}


.item.active:nth-child(1) {
  background: linear-gradient(90deg,rgba(109, 255, 201, 0.631), rgba(0, 0, 0, 0.071) 80%);
  font-size: 20px;
}

.item.active:nth-child(2) {
  background: linear-gradient(90deg,rgba(255, 150, 109, 0.631), rgba(0, 0, 0, 0.071) 80%);
  font-size: 20px;
}

.item.active {
  position: relative;
  cursor: default;
}

@media (max-width: 1140px) {
  .menu {
    top: 50%;
  }

  .item {
    margin: 0.5rem 0;
  }

  .title {
    font-size: 12px;
  }
}

@media (max-width: 990px) {
  .sub-container {
    width: min-content;
    top: 20%;
  }
  .sub-container h3 {
    font-size: 18px;
  }

  .sub-container h2 {
    font-size: 16px;
  }

  .p-container p {
    font-size: 12px;
  }

  .item {
    height: 2rem;
  }

  .item h2 {
    font-size: 12px;
  }
}

@media (max-width: 510px) {
  .menu {
    top: 70%;
  }
}

/* @media (max-width: 360px) {
  .menu {
    top: 65%;
  }
} */
