@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
  /* background-image: url(https://wallpapercave.com/wp/wp2088413.jpg); */
  /* background-image: url(https://www.hdwallpapers.in/download/starry_sky_during_nighttime_space_hd_galaxy-1600x900.jpg); */
  /* background-image: url(https://wallpapercave.com/wp/wp2088413.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Russo One", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
