@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Russo One", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
