.avatar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.avatar {
  position: fixed;
  overflow: hidden;
  z-index: 1;
  animation: floating 8s ease-in-out infinite;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 50px); }
  100%   { transform: translate(0, -0px); }
}

.avatar.about {
  width: 300px;
  bottom: 10%;
  transform: translateX(-50%);
}

.avatar.skills {
  width: 580px;
  top: 15%;
  right: 40%;
}

.shadow-overlay-skills {
  display: block;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.275),rgba(255, 255, 255, 0));
  z-index: -1;
}
