.icons-box {
  position: fixed;
  top: 30%;
  right: 15%;
  display: flex;
  flex-direction: column;
}
.social-icons {
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

img.social-icon {
  width: 80px;
  opacity: 0.5;
  border-radius: 50%;
  background: #ffffff63;
  transition: all 350ms ease-in-out;
}

.social-icon.codepen {
  border-radius: 50%;
  background: #ffffff44;
}

.social-icon:hover {
  opacity: 1;
  box-shadow: 0px 0px 15px 3px #ffffff8f;
  cursor: pointer;
}

@media (max-width: 775px) {
  .social-icons {
    gap: 3rem;
    flex-direction: row;
    position: fixed;
    top: 15%;
    left: 30%;
  }

  img.social-icon {
    width: 40px;
  }
}

@media (max-width: 390px) {
  .social-icons {
    top: 15%;
    left: 12%;
  }
}
