.intro-wrap {
  height: 100vh;
}

#intro {
  position: fixed;
  margin: 2rem;
  left: 0;
  font-size: medium;
  line-height: 20px;
  letter-spacing: 1px;
  z-index: 3;
}

#intro h1 {
  letter-spacing: 3px;
}

@media (max-width: 990px) {
  #intro {
    font-size: 10px;
  }
}

@media (max-width: 720px) {
  #intro {
    font-size: 8px;
  }
}
