#root {
  display: flex;
  justify-content: center;
}

.nav {
  position: absolute;
  display: flex;
  padding-top: 3rem;
  gap: 5rem;
  justify-content: center;
  align-items: flex-start;
  /* background-color: rgba(255, 255, 255, 0.569); */
  z-index: 1;
}

.icons {
  width: 50px;
  opacity: 0.8;
  transition: 300ms all ease-in-out;
}

.icons:hover {
  opacity: 1;
}

.page-title {
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffffcd;
}

/* .nav-about, .nav-skills, .nav-projects, .nav-contact {
  transform: translateX(-1.56rem);
} */
