body {
  background-image: url(https://wallpapercave.com/wp/wp2088413.jpg);
  /* background-image: url(https://www.hdwallpapers.in/download/starry_sky_during_nighttime_space_hd_galaxy-1600x900.jpg); */
  /* background-image: url(https://wallpapercave.com/wp/wp2088413.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.nav {
  position: fixed;
  display: flex;
  align-items: flex-start;
  top: 3rem;
  gap: 1rem;
  left: 50%;
}

.icons {
  width: 50px;
  opacity: 0.8;
  transition: 300ms all ease-in-out;
}

.icons:hover {
  opacity: 1;
}

.nav-about, .nav-skills, .nav-projects, nav-contact {
  transform: translateX(-1.56rem);
}
