.skill-sets {
  position: fixed;
  right: 10%;
  top: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.skill-sub-container {
  position: fixed;
  left: 10%;
  top: 35%;
}

.skill-menu {
  position: fixed;
  left: 0;
  top: 15%;
  z-index: 1;
}

.skill-icon {
  width: 100px;
}

#title {
  letter-spacing: 2px;
}

.skill-title {
  font-size: 1.1rem;
  margin-left: 2rem;
  letter-spacing: 2px;
  transition: all 350ms ease-in;
  width: 300px;
}

.skill-title:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.skill-item.activeSkill .skill-title {
  font-size: 1.3rem;
  padding-left: 1rem;
  transition: all 300ms ease-in-out;
}

.activeSkill {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  cursor: default;
}

.skill-item.activeSkill:nth-child(2) {
  background: linear-gradient(90deg, #fb99ee, rgba(0, 0, 0, 0.097) 90%);
}
.skill-item.activeSkill:nth-child(3) {
  background: linear-gradient(90deg, #b384f0, rgba(0, 0, 0, 0.096) 90%);
}

.skill-sub-container-1 h3,
.skill-sub-container-2 h3 {
  margin: 20px;
}

@media (max-width: 860px) {
  .skill-icon {
    width: 80px;
  }
}

@media (max-width: 670px) {
  .skill-sets {
    position: fixed;
    left: 15%;
    top: 13%;
    display: block;
  }

  h2.skill-title {
    font-size: 14px;
  }

  h3#title {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .skill-icon {
      width: 50px;
      position: relative;
      left: 30%;
      margin-top: 1rem;
  }
}
